__pycache__

# Ignore data directory
data/

# Compressed files
*.zip
*.gz

# PLINK files
*.bed
*.bim
*.fam

# Large files
*.tsv

## Ignore software files
# Location: /data1/sanghyeon/wonlab_contribute/combined/software
software/

# MAGMA
*REPORT
*.synonyms
*.annot
*.snp.loc
*.gene.loc
*.pval
*.out
*.raw

# MAGMA gene-set files
*.gmt*
*.cov
