__pycache__

# Compressed files
*.zip
*.gz

# PLINK files
*.bed
*.bim
*.fam

# Large files
*.tsv

# MAGMA
*REPORT
*.synonyms
*.annot
*.snp.loc
*.gene.loc
*.pval
*.out

# MAGMA gene-set files
*.gmt*
*.cov
