__pycache__
dask-worker-space

# Ignore data directory
data_common/
issues/

# Ignore troubleshoot
issues/

# Compressed files
*.zip
*.gz

# PLINK files
*.bed
*.bim
*.fam

# Large files
*.tsv

## Ignore software files
# Location: /data1/sanghyeon/wonlab_contribute/combined/software
software/

# MAGMA
*REPORT
*.synonyms
*.annot
*.snp.loc
*.gene.loc
*.pval
*.out
*.raw

# MAGMA gene-set files
*.gmt*
*.cov

# GWAS summary statistics random 10k
examples/gwas_plot/data/MDD_als2023.random10k.txt

# Two-sample MR example run data
src/tsmr/example_run_tsmr_multiple_exposure_outcomes/
src/tsmr/example_run_tsmr_single_exposure_multiple_outcomes/
